<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  咳
</button>
<%= link_to '登出', destroy_user_session_path, method: 'DELETE'  %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">個人資料</h4>
      </div>
      <div class="modal-body">
        <%= current_user.email.split("@").first %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">按鈕一號</button>
        <button type="button" class="btn btn-primary">按鈕二號</button>
      </div>
    </div>
  </div>
</div>