<style>
  h1,h2,h3,h4 {font-family:"Lato", sans-serif}
  .fa {padding: 0 5px;}
  .fa:hover {opacity: .6;}
</style>

<!-- render partial: "/layouts/navbar" -->
<div class="theme-container" style="margin-top: 50px">

  <div class="page-header">
  </div>
  
</div>

<!-- googlemap of me -->

<!-- Footer -->
<!-- render partial: "/layouts/footer" -->