// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  touch-action: none;
  content-zooming: none;
}
body {
  margin:0;
  padding:0;
  background:#FFF;
  position:absolute;
  width:100%;
  height:100%;
  
  .logo {
    margin-top: 0.7em;
    font-size: 1.5em;
    font-family: 'Cinzel', serif;
  }
  .nickname {
    border: 0px;
    font-size: 1.25em;
    font-family: 'Great Vibes', cursive;
  }
  .functional-icon{
    cursor:pointer;
    float: left;
    margin: 0.2em;
    height: 1.2em;
    width: 1.2em;
    z-index: 16;
    img {
      vertical-align: top;
    }
  }
  #panel{
    position: fixed;
    z-index: 15;
    top: 15vh;
    left: 10vw;
  }
}