#screen {
  position:relative;
  margin: 0 auto;
  height:100vh;
  width:115vh;
}
#screen .img{
  position:absolute;
  cursor:pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:100%;
  width:auto;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
  user-select: none;
}
#screen .frame {
  position:absolute;
  height:50%;
  width:50%;
}
#panel{
  position: fixed;
  z-index: 15;
  top: 15vh;
  left: 10vw;
}
@media (max-width: 992px) {
  #panel{
    left: 4vw;
  }
}
@media (max-width: 768px) {
  #screen {
    height:80vh;
    width:92vh;
  }
  #panel{
    left: 2vw;
  }
}
@media (max-width: 620px) {
  #screen {
    height:60vw;
    width:69vw;
  }
  #panel{
    top: 5vw;
  }
}