<section id="contactme" class="hidden">
  <div class="text-center section-padding">
    <span class="section-title"><%= t('index.contactme') %></span>
  </div>
<!-- 新的資料收集頁面，對我感興趣...!? -->
  <%# form_for @message, url: messages_path do |f| %>

      <%# f.label :user_nickname, "特徵：" %>
      <%# f.text_field :user_nickname,:placeholder => "請輸入您的稱呼", :class => "form-control" %>
    <div class="form-group">
      <label>Name</label>
      <input class="theme_inputbox" type="text" name="Name" required>
       <!-- :hover {border: #000} -->
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="theme_inputbox" type="text" name="Email" required>
    </div>
    <div class="form-group">
      <label>Subject</label>
      <input class="theme_inputbox" name="Subject" required>
    </div>
    <div class="form-group">
      <label>Message</label>
      <input class="theme_inputbox" name="Message" required>
    </div>

    <div class="pull-right" style="width: 10vw;">
      <button class="theme-btn color-set1 trigger-hidden">Hide</button>
      <%# f.submit "確認" %>
    </div>

    <div style="width: 30vw; margin: 0 auto;">
      <button type="submit" class="theme-btn color-set4">Send</button>
      <%# f.submit "確認" %>
    </div>

  <%# end %>
</section>