<div class="slides">
  <%= image_tag '/index/slider_lessial_' + pic_number + '.jpg' %>
  <div class=<%= position %>>
    <span class="slider-tag color-set0"><%= t('index.slides.' + pic_number ) %></span>
  </div>
</div>