<section id="slideshow">
  <%= render partial: "/services/index/slide_pic", locals: {pic_number: '1', position: 'topleft'} %>
  <%= render partial: "/services/index/slide_pic", locals: {pic_number: '2', position: 'topmiddle'} %>
  <%= render partial: "/services/index/slide_pic", locals: {pic_number: '3', position: 'topright'} %>
  <!-- Slideshow next/previous buttons -->
  <div class="slider-ctrl color-set3">
    <div class="pull-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left"></i></div>
    <div class="pull-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right"></i></div>
  
    <div class="text-center">
      <span class="indicator" onclick="currentDiv(1)"></span>
      <span class="indicator" onclick="currentDiv(2)"></span>
      <span class="indicator" onclick="currentDiv(3)"></span>
    </div>
  </div>
</section>