<div class="slides">
  <%= image_tag 'https://placeimg.com/1000/500/' + pic_name %>
  <div class=<%= position %>>
    <span class="slider-tag color-set0"><%= t('index.slides.' + pic_name ) %></span>
  </div>
</div>