<section class="clearfix" id="whoami" >
  <div class="text-center section-padding">
    <span class="section-title"><%= t('index.who am i') %></span>
  </div>

  <div class="col-lg-4 col-lg-offset-4">
    <div class="shadowbox">
      <img src="/index/profile.jpg" alt="EJ">
      <div class="theme-container">
        <h3>E.J. Lin</h3>
        <p style="opacity: .6;">Self Engineering</p>
        <p><%= t('index.profile.intro') %></p>
        <p>
          <a class="theme-btn page-scroll color-set3" href="contactme"><%= t('nav.contactme') %></a>
        </p>
      </div>
    </div>
  </div>
</section>