<footer class="color-set1 text-center">
  <div>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-linkedin"></i>
    <i class="fa fa-github"></i>
    <i class="fa fa-google-plus"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp">w3c school</a></p>
</footer>
